<app-header></app-header>
<div id="content">
  <div class="container">
    <h3 class='title'>Вход для компании</h3>
    <div class="row">
      <div class='col-md-6 description'>
        <div class="description-text">
          <div>
            <span class='metadex'>Metadex  </span>
            <span class='this'>это</span>
          </div>
          <div class='descr-text'>
						<span>
							<p>
								сервис по автоматизации работы оценочных компаний и их взаимодействия с банками. Формируем точную оценку недвижимости с отчетом за 1 минуту
							</p>
						</span>
          </div>
          <div class='descr-num'>
						<span>
							Чтобы создать аккаунт компании обратитесь в службу поддержки по номеру <strong>+7 ХХХ ХХХ-ХХХХ</strong>
						</span>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class="signin-panel">
          <form action="">
            <div class='login-section'>
              <span>Логин</span>
              <input type="text" #login>
            </div>
            <div class="password-section">
              <span>Пароль</span>
              <input type="password" #password>
            </div>
            <div class="col-md-4 signin-section-block">
              <a class='signin-btn' (click)="checkData()">Войти</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
