<header>
  <div class="container header">
    <div>
      <a routerLink="/" class="for_comp"><span>Компаниям</span></a>
    </div>
    <div class='logo'>
      <a routerLink="/preview">
        <img src="/assets/img/metadex_logo.png" alt="">
      </a>
    </div>
    <div class=''>
      <a routerLink="/login"><button type="button" class="btn btn-signup">Вход</button></a>
      <a routerLink="/registration" ><button type="button" class="btn btn-success">Регистрация</button></a>
    </div>
  </div>
</header>
