.changes{
  width:80%;
  margin:42px auto 58px auto;
}

.changes h2{
  font-size:28px;
  margin-bottom:30px;
}

.finance-block{
  display:flex;
  flex-direction:row;
  margin-bottom:50px;
}

.finance{
  padding-left:0;
}

.finance span{
  font-weight:bold;
}

.precentage{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align:end;
}

.precentage input{
  width:20%;
  border:none;
  text-align:center;
  border-bottom:1px solid #AEB1B3;
  margin-right:20px;
}

/*table{*/
  /*width:80%;*/
  /*margin:0 auto 60px auto;*/
/*}*/

.table-div{
  /*width:80%;*/
  margin:0 auto 60px auto;
}

.title{
  margin-bottom:10px;
}

.info span{
  display:block;
  text-align:center;
}

.info-address{
  display:flex;
  margin-bottom:50px;
  font-size:28px;
  color:#373A3C;
}

.price-blocks{
  display:flex;
  width:80%;
  margin:0 auto 70px auto;
  flex-direction:row;
}

.price{
  padding-left:0;
}

.price-title{
  font-size:20px;
}

.average_price{
  padding-left:0;
}

.price div{
  background-color:#E2EED8;
  margin-top:20px;
  padding:44px 0 93px 30px;
}

.average_price div{
  background-color:#E2EED8;
  margin-top:20px;
  padding:44px 0 44px 30px;
}

.kzt{
  font-size:32px;
  font-weight:bold;
}

.dollar{
  font-size:28px;
}

.upload-block{
  display:flex;
}

.download{
  display:inline-block;
  padding:8px 26px 8px 20px;
  margin:0 auto 50px auto;
  border:1px solid #5CB85C;
  border-radius:5px;
}

.download img{
  width:30px;
  margin-right:10px;
}

.table-block{
  width:80%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
  margin-bottom:72px;
}

.load-table,.create-report{
  border-radius:80px;
  padding:15px 0;
  text-align:center;
  font-size:25px;
  color:#fff;
  margin-right:63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-table{
  background:linear-gradient(to right,#62BC4C,#34A172);

}

.create-report{
  background:linear-gradient(to right,#EC5656,#FF984A);
}

.info-client{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#AEB1B3;
  text-align:center;
}

.add{
  margin-top:40px;
}

.add span{
  color:#2BDA32;
}

.add img{
  width:22px;
  height:22px;
  margin-left:15px;
}

.dropdown-block{
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dropdown-menu-left{
  border:1px solid #95989A;
  padding:0;
  z-index:2;
  position: fixed;
  bottom:0;
  animation:animationDropdown 0.5s ease-in-out;
  background-color:#fff;
}

@keyframes animationDropdown{
  0%{
    max-height:0;
    opacity:0;
  }

  100%{
    max-height:100%;
    opacity:1;
  }

}

.change-items{
  padding:11px;
}

.change-blocks:hover{
  background-color:#E2EED8;
  cursor:pointer;
}

@media screen and (max-width:768px){
  .finance-block{
    flex-direction: column;
  }

  .finance{
    text-align:center;
    margin-bottom:20px;
  }
}

@media screen and (max-width:576px){
  /*.kzt{*/
    /*font-size:16px;*/
  /*}*/

  .load-table,.create-report{
    margin-right:20px;
    padding:5px 0;
    font-size:16px;
  }
  .price-blocks{
    display:flex;
    flex-direction:column;
  }

  .average_price{
    margin-top:30px;
  }
}

