<app-header></app-header>

<h3 class="title">Предварительная оценка недвижимости</h3>

<div class="container preresult">
  <div>
    <span>Результаты предварительной оценки, тенге </span>
    <h4>900 000 000 </h4>
  </div>
  <div>
    <span>Стоимость с учетом погрешности, тенге</span>
    <h2>700 000 000 - 900 000 000</h2>
  </div>
</div>

<div class="container register-section">
  <h3>Пройдите регистрацию и получите экспертную оценку</h3>
  <div class="col-md-4 register" routerLink="/registration">
    <a>Зарегистрироваться</a>
  </div>
</div>
