<header>
  <div class="container header">
    <div>
      <a routerLink="/" class="for_comp"><span>Компаниям</span></a>
    </div>
    <div class='logo'>
      <a routerLink="/prerating">
        <img src="/assets/img/metadex_logo.png" alt="">
      </a>
    </div>
    <div class=''>
      <a routerLink="/login"><button type="button" class="btn btn-signup">Вход</button></a>
      <a routerLink="/registration" ><button type="button" class="btn btn-success">Регистрация</button></a>
    </div>
  </div>
</header>

<h3 class="title">Предварительная оценка недвижимости</h3>

<div class="container preresult">
  <div>
    <span>Результаты предварительной оценки, тенге </span>
    <h4>900 000 000 </h4>
  </div>
  <div>
    <span>Стоимость с учетом погрешности, тенге</span>
    <h2>700 000 000 - 900 000 000</h2>
  </div>
</div>

<div class="container register-section">
  <h3>Пройдите регистрацию и получите экспертную оценку</h3>
  <div class="register">
    <a class="register-btn" routerLink="/registration">Зарегистрироваться</a>
  </div>
</div>
