<h3 class="title">Заявки и оценки</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Дата</th>
    <th scope="col">Объект оценки</th>
    <th scope="col">Заказчик</th>
    <th scope="col">Статус заявки</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = 'let item of property_list'>
    <th scope="row">{{item.date}}</th>
    <td>{{item.address}}</td>
    <td>Даурен</td>
    <td>Выполнено</td>
    <td><img src="/assets/img/icons/zoom-in.svg" alt="" (click)="watchMore(i)"></td>
    <td><img src="/assets/img/icons/icon_edit.svg" alt="" (click)="makeChanges(i)"></td>
  </tr>

  </tbody>
</table>
