<app-header></app-header>
<div id="content">
  <div class="container signin-content">

    <div class='title-section'>
      <h3 class='title'>Вход</h3>
      <a routerLink="/registration">Нет аккаунта?</a>
    </div>

    <div class="alert alert-danger" [ngClass]="{'error':warning}">
      Неверные данные
    </div>

    <div class='signin-section-panel'>
      <form action="">
        <div class='login-section'>
          <span>E-mail</span>
          <input type="text" #email>
        </div>
        <div class="password-section">
          <span>Пароль</span>
          <input type="password" #password>
        </div>
        <div class="signin-section">
          <a class='signin-btn' (click)="checkData()">Войти</a>
        </div>
      </form>
    </div>

  </div>
</div>
