table{
  width:80%;
  margin:0 auto;
}

.title{
  margin-bottom:10px;
}

.info span{
  display:block;
  text-align:center;
}

.info-address{
  display:flex;
  margin-bottom:50px;
  font-size:28px;
  color:#373A3C;
}
