.description-block{
  width:80%;
  margin:0 auto;
  display:flex;
}


.item{
  border:1px solid #DDDDDD;
  border-radius:5px;
  margin-bottom:20px;
}

.item-descr{
  padding:26px 21px;
}

.item-descr h2{
  font-size:20px;
  color:#373A3C;
}

.item-descr span{
  display:block;
  margin:15px 0 22px 0;
  color:#818A91;
  font-size:14px;
}

.checkbox{
  color:#5CB85C;
  background-color:#E2EED8;
  padding:12px 10px 13px 14px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.checkbox input{
  margin-right:9px;
}

.date{
  color:#818A91;
  font-size:14px;
}

.data{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.data div{
  display:flex;
  flex-direction:column;
}

input{
  padding:11px 0 11px 11px;
}

/*.address{*/
  /*width:60%;*/
/*}*/

/*.search{*/
  /*width:30%;*/
/*}*/

/*.tstatus{*/
  /*width:30%;*/
/*}*/

/*.planirovka{*/
  /*width:30%;*/
/*}*/

/*.year{*/
  /*width:20%;*/
/*}*/

/*.types{*/
  /*width:30%;*/
/*}*/

/*.stages{*/
  /*width:30%;*/
/*}*/

/*.countroom{*/
  /*width:20%;*/
/*}*/

/*.sanuz{*/
  /*width:30%;*/
/*}*/

/*.square,.square_kitchen{*/
  /*width:20%;*/
/*}*/



