<app-header></app-header>
<h3 class="title">Рассмотрение заявки</h3>

<div class="container description-block">
    <div class="col-md-8 info">
      <form action="">
        <div class="data">
          <div class="data-rows">
            <div class="col-sm-6 col-md-7 address">
              <span>Введите адрес</span>
              <input type="text" placeholder="Например, Алматы, Богенбай батыра 49" #address>
            </div>
            <div class="col-sm-6 col-md-5 search">
              <span>Точность поиска</span>
              <input type="text" #address>
            </div>
          </div>

          <div class="data-rows-blocks">
            <div class="col-sm-4 col-md-5 tstatus">
              <span>Техническое состояние</span>
              <input type="text" placeholder="Отличный" #techstatus>
            </div>
            <div class="col-sm-4 col-md-4 planirovka">
              <span>Планировка улучшенная</span>
              <input type="text" #address>
            </div>
            <div class="col-sm-4 col-md-3 year">
              <span>Год строения</span>
              <input type="text" #address>
            </div>
          </div>

          <div class="data-rows-blocks">
            <div class="col-md-5 types">
              <span>Тип строения</span>
              <input type="text" placeholder="Монолитный" #type>
            </div>

            <div class="col-md-4 stages">
              <span>Этаж</span>
              <div class="stage">
                <div class="col-md-5">
                  <input class="stage-input" type="text" placeholder="1" #initialstage>
                </div>
                <div class="col-md-2">
                  <span>из</span>
                </div>
                <div class="col-md-5">
                  <input class="stage-input" type="text" placeholder="1" #endstage>
                </div>
              </div>
            </div>

            <div class="col-md-3 countroom">
              <span>Комнат</span>
              <input type="text" placeholder="1" #countroom>
            </div>
          </div>

          <div class="data-rows-blocks">
            <div class="col-md-4 sanuz">
              <span>Санузел</span>
              <input type="text" placeholder="Раздельный" #sanuzel>
            </div>

            <div class="col-md-4 square">
              <span>Площадь общая, м²</span>
              <input type="text" #square>
            </div>

            <div class="col-md-4 square_kitchen">
              <span>Площадь кухни, м²</span>
              <input type="text" #square>
            </div>
          </div>


        </div>
      </form>
      <div class="map">
        <span class="map-text">
          Выбрать объекты на карте
        </span>
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChooseLocation($event)">
          <agm-marker *ngIf="locationChosen" [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    </div>

    <div class="col-md-4 item-list">
      <span style="color:#818A91">Найдено {{property_list.length}} объектов</span>

      <div class="item" *ngFor = 'let item of property_list'>
        <div class="checkbox">
          <div>
            <input class="checking-checkbox" type="checkbox" ><span>Выбрать</span>
          </div>
          <div class="date">
            <span>Размещено {{item.date}}</span>
          </div>
        </div>
        <div class="item-descr">
          <h2>{{item.count_room}} комнатная квартира, {{item.address}}</h2>
          <span>Пластиковые окна, неугловая, улучшенная, комнаты изолированы, новая сантехника.
            Дом монолитный, 2016 г.п. Этаж 9 из 9 Площадь 56.5 м2,
            жилая — 31.2 м2, кухня — 10.6 м2. Состояние хорошее
          </span>
          <h2>900 000 000 тг.</h2>
        </div>
      </div>
    </div>
</div>



