<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="">
    <a routerLink="/for-company" class="for_comp"><span>Компаниям</span></a>
  </div>
  <div class='logo'>
    <a routerLink="/">
      <img src="/assets/img/metadex_logo.png" alt="">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class='buttons'>
      <a routerLink="/login"><button type="button" class="btn btn-signup">Вход</button></a>
      <a routerLink="/registration" ><button type="button" class="btn btn-success">Регистрация</button></a>
    </div>
  </div>
</nav>


<div id="choose-comp" class="container">
  <h3 class="title">В каком банке получить ипотеку?</h3>
  <div class="container choose-menu">
    <div class="arrows" (click)="chooseCompanies(-1)">
      <img class="left" src="/assets/img/icons/arrow_active.svg" alt="">
    </div>

    <div class="row images-menu">
      <div class=" col-md-4 list-banks" *ngFor="let item of banks | slice:initial_slice:initial_slice+3;let i = index">
        <div class="choose-block">
          <div id="image-logo" (click)="selectBanks(i)">
            <img class="images" src="{{item.url}}" alt="">
            <div class="mark-image">
              <img src="/assets/img/icons/mark.svg" alt="">
            </div>
            <h3 class="name-companies">{{item.name}}</h3>
          </div>
          <div class="text">
            <a>Условии банка</a>
          </div>
        </div>
      </div>
    </div>
    <div class=" arrows" (click)="chooseCompanies(+1)">
      <img class="right" src="/assets/img/icons/arrow_active.svg" alt="">
    </div>
  </div>
  <div class="container-fluid center">
    <div class="col-sm-12 col-md-6 final">
      <a class="next-btn" >Отправить на рассмотрение</a>
    </div>
  </div>

</div>
