/*@import url("reset.css");*/
/*@import url("font.css");*/


body{
  font-family: 'HelveticaNeueCyr';
  padding:0;
  margin:0;
}

.container{
  padding:0;
}

.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding:25px 0 53px 0;
}

.for_comp{
  text-decoration:none;
  color:#000000;
}

.fine{
  color:#818A91;
}

.danger{
  color:red;
}

.for_comp:hover{
  text-decoration: none;
  color:#000000;
  cursor:pointer;
}

#content{
  margin-top:0px;
}

.title{
  text-align:center;
  margin:50px 0;
  font-weight:bold;
  font-size:40px;
}

.logo{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align:center;
  height:48px;
  font-size:25px;
  margin-left:160px;
  font-stretch: ultra-condensed;
}

.buttons{
  margin:20px 0;
  text-align:center;
}

.bg-light{
  background-color:#fff !important;
}

.btn-signup{
  padding:5px 30px;
  background: white;
  color:green;
  border-radius:4px;
  border:1px solid green;
  margin-right:40px;
}

.btn-success{
  background-color: #5CB85C;
}

.description{
  border-right:2px solid #2BDA32;
}

.metadex{
  font-weight: normal;
  font-size:75px;
  font-style: normal;
}

.this,.description p{
  font-weight: normal;
  font-size:25px;
  font-style: normal;
}

.description p{
  color:#818A91;
}

.description-text{
  width:80%;
  margin:0 auto;
}

.description-number{
  width:80%;
  line-height:1.4;
  margin-bottom:20px;
}

.descr-num strong{
  font-weight:bold;
  color:#2BDA32;
}


.signin-panel{
  display:flex;
  flex-direction: column;
  margin-left:20px;
}

.signin-content{
  margin:0 auto;
}

.signin-section-panel{
  margin-top:54px;
}

.signup-section-panel .underline-text{
  color:#818A91;
}

.signin-section-panel input{
  width:100%;
  margin:13px 0 40px 0;
  padding-left:8px;
  height:40px;
  border:1px solid #DDDDDD;
}

.signin-panel input{
  width:100%;
  margin:13px 0 40px 0;
  padding-left:8px;
  height:40px;
  border:1px solid #DDDDDD;
}

.signin-section,.signup-section,.title-section,.text-finish,.take-full-grade{
  text-align:center;
}

.take-full-grade{
  border-radius:5px;
  border:none;
  background-color:#5CB85C;
  color:#fff !important;
  margin:20px auto 0 auto;
  padding:10px 0;
  max-width:70%;
}

.take-full-grade a{
  color:#fff !important;
}

.take-full-grade a:hover{
  text-decoration: none;
  cursor:pointer;
}

.signin-section{
  border-radius:5px;
  border:none;
  background-color:#5CB85C;
  color:#fff !important;
  margin:40px auto 0 auto ;
  padding:15px 0;
  font-size:20px;
  max-width:80%;
}

.signup-section{
  margin:40px auto 0 auto;
  color:#fff !important;
  border:none;
  background-color:#5CB85C;
  border-radius:5px;
  max-width:80%;
  padding:15px 0;
  font-size:20px;
}

.signin-section-block{
  margin:40px auto 0 auto;
  color:#fff !important;
  border:none;
  background-color:#5CB85C;
  border-radius:5px;
  max-width:80%;
  padding:10px 0;
  text-align: center;
}

.next{
  margin-top:40px;
  color:#fff !important;
  border:none;
  background-color:#5CB85C;
  border-radius:5px;
  max-width:100%;
  padding:10px 0;
}

/*.signin-btn{*/
  /*border-radius:5px;*/
  /*border:none;*/
  /*background-color:#5CB85C;*/
  /*color:#fff !important;*/
  /*margin-top:20px;*/
/*}*/

.signup-btn{
  padding:16px 75px 15px 73px;
  border-radius:5px;
  border:none;
  background-color:#5CB85C;
  color:white;
  margin-top:40px;
}

.signup-section-panel input{
  width:100%;
  margin:13px 0 8px 0;
  padding-left:8px;
  height:40px;
  border:1px solid #DDDDDD;
}

.signup-section-panel .login-section,.signup-section-panel .password-section{
  margin-top:54px;
}

.title-section h3{
  margin-bottom:10px;
}

.title-section a{
  text-decoration: underline;
  color:#2BDA32;
  padding-bottom:3px;
}

.text-finish span{
  display:block;
  width:50%;
  line-height:1.5;
  margin:0 auto;
  padding:17px 0 80px 0;
}

.text-finish h2{
  text-align:center;
  font-size:61px;
  margin-top:40px;
}

.btn-take{
  padding:13px 75px 12px 73px;
  border-radius:5px;
  border:none;
  background-color:#5CB85C;
  color:white;
}

.final{
  color:#fff !important;
  border:none;
  background-color:#5CB85C;
  margin:60px auto;
  border-radius:5px;
  padding:10px 0;
  max-width:50%;
}

.hide{
  display:none;
}

.show{
  display:block;
}

.alert-danger{
  width:50%;
  text-align:center;
  margin:30px auto 0 auto;
  display:none;
}

.error{
  display:block;
}

.isSelected{
  background-image:url('/assets/img/icons/mark.svg');
  background-position: center center;
  background-repeat:no-repeat;
  z-index: 2;
  opacity:.5;
  border-radius:50%;
  text-align:center;
  height: 170px;
  border-radius:50%;
}

.images{
  text-align:center;
  height: 170px;
  border-radius:50%;
}

.list-banks{
  display:flex;
  justify-content: center;
}

.center{
  display:flex;
  justify-content: center;
}

.navbar{
  display:flex;
  position:relative;
  justify-content: space-between;
  padding:20px;
}

.navbar-collapse{
  flex-grow:0;
}

.mark-image{
  display:none;
  position:absolute;
  top: 17%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mark-image img{
  width:64px;
  height:54px;
  z-index:2;
}

.choose-block #image-logo img{
  text-align:center;
  border-radius:50%;
}

.choose-block #image-logo .mark-image img{
  width:50px;
  height:50px;
}

.controllers{
  width:95%;
}

.ngx-pagination{
  margin:60px 0 200px 0;
  text-align:end;
}

.ngx-pagination a, .ngx-pagination button{
  padding:0.1875rem 0.925rem;
}

.ngx-pagination .current{
  padding:12px 15px 11px 16px !important;
  background-color:#2BDA32 !important;
}


@media screen and (min-width:992px){
  .take-full-grade{
    max-width:35%;
  }
}


@media screen and (max-width:992px){
  .choose-block #image-logo img{
    width:150px;
    height:150px;
  }

  .next-btn{
    padding:10px;
  }

  .logo{
    display:none;
  }
}

@media screen and (max-width:768px){
  /*.list-banks{
    display:block;
    flex:-1;
  }*/

  .description{
    border-right:none;
  }

  .description p{
    font-size:20px;
  }

  .description-text{
    width:100%;
    padding-bottom:10px;
  }

  .col-md-6{
    padding:0;
  }

  .signin-panel{
    margin:40px auto 0 auto;
  }

  .metadex{
    font-size:60px;
  }

  .name-companies{
    font-size:1.2rem;
  }
}

@media screen and (max-width:576px) {

  .title-section h3{
    font-size:28px;
  }

  .text-finish h2{
    font-size:30px;
  }

  .logo{
    display:none;
  }

  .title{
    font-size:30px;
  }

  .metadex{
    font-size:40px;
  }

  .signin-panel{
    width:80%;
  }

  .description{
    width:80%;
    margin:0 auto;
  }
}


