<app-header></app-header>

<h3 class='title'>Предварительная оценка недвижимости</h3>
<div class="container first-div">

  <div class="alert alert-danger" [ngClass]="{'error':warning}">
    Проверьте правильность заполнения полей
  </div>


  <div id="rating-content" *ngIf='stepRate===0'>
    <form action="">
      <div class="address">
        <span>Введите адрес</span>
        <input type="text" placeholder="Например, Алматы, Богенбай батыра 49" #address>
      </div>


      <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChooseLocation($event)">
        <agm-marker *ngIf="locationChosen" [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>

      <div class="square">
        <span>Площадь, м²</span>
        <input type="text" #square>
      </div>

      <div class="countroom">
        <span>Количество комнат</span>
        <input type="text" placeholder="1" #countroom>
      </div>

      <div class="year">
        <span>Год строения</span>
        <input type="text" placeholder="1" #year>
      </div>


      <div class="stages">
        <span>Этаж</span>
        <div class="stage">
          <input class="stage-input" type="text" placeholder="1" #initialstage>
          <span>из</span>
          <input class="stage-input" type="text" placeholder="1" #endstage>
        </div>
      </div>

      <div class="types">
        <span>Тип строения</span>
        <input type="text" placeholder="Монолитный" #type>
      </div>

      <div class="next" (click)="rateProperty()">
        <a class="next-btn">Оценить</a>
      </div>

    </form>
  </div>

</div>

